<!-- templates/forgot_password.html -->
{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="forgot-password-page">
    <div class="forgot-password-container">
        <h3 class="text-center">Pamiršau slaptažodį</h3>
        <form method="POST">
            <div class="form-group">
                <label for="email">Įveskite el. pašto adresą</label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="El. pašto adresas"
                    required
                >
            </div>
            <button type="submit" class="btn coloured-button w-50">Siųsti</button>
        </form>
        <div class="text-center mt-3">
            <a href="/login" class="text-primary">Grįžti atgal</a>
        </div>
    </div>
</div>
{% endblock %}
